.card-label {
	font-size: 14px;
	text-transform: uppercase;
	margin-left: 10px;
	margin-bottom: 2px;
}

#gaps-solve {
	font-size: 25px;
}
#text {
	resize: vertical;
	min-height: 120px;
}

.token {
	white-space: nowrap;
}

.gap {
	font-family: monospace;
	display: inline-block;
	transition: all 0.3s;
}

.gap-content, .gap-placeholder {
	position: absolute;
	
	/* do not specify width as javascript will handle this */
	height: auto !important;
	border: none !important;
	box-shadow: none !important;
	padding: 0 !important;
	padding-top: 7px !important;
	transition: all 0.3s;
	
	letter-spacing: 0.1rem;
	font-size: 27px !important;
}

.gap-placeholder {
	color: #9e9e9e;
	/* z-index: -1; */
}

.selected {
	color: #62a69a;
	box-shadow: 0 1px 0 0 #62a69a;
}
.gap-correct {
	background-color: green;
}
.gap-wrong {
	background-color: red;
}

#gaps-results {
	margin-top: 24px;
}
#gaps-results .progress {
	height: 10px;
	border-radius: 2px 2px 0 0;
	margin-bottom: 0;
}
#gaps-results .card-content {
	font-size: 20px;
}
#gaps-results .card-content em {
	font-size: 25px;
	font-weight: bold;
	font-style: normal;
}